<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IAuthService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IAuthService1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8001/TutorWorld/AuthService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthService"
                contract="AuthService.IAuthService" name="WSHttpBinding_IAuthService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:8000/TutorWorld/UserService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserService"
                contract="TotorWorldService.IUserService" name="WSHttpBinding_IUserService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:8001/TutorWorld/AuthService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthService1"
                contract="TotorWorldService.IAuthService" name="WSHttpBinding_IAuthService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>